#gameboard {
    background-color: cyan;
    border: 2px black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.boardtile{
    text-align: center;
    height: 30px;
    width: 30px;
    border: 2px black;
}

.boardtile:hover {
    background-color: pink;
}

