body {
    background-color: grey;
}

#gameboard {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.boardtile{

    background-color: white;
    border: solid #81A4CD 1px;
    font-size: 80px ;
    text-align: center; 
    justify-content: middle;
    height: 100px;
    width: auto;
}

.boardtile:hover {
    background-color: lightgray;

}

