
#gameboard {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}



.boardtile{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    border: solid #81A4CD 1px;
    font-size: 80px ;
    text-align: center; 
    justify-content: middle;
    height: 100px;
    width: auto;
}

.boardtile:hover {
    background-color: lightgray;

}


#currentplayerdisplay {
    display: flexbox;
    text-align: center;
}

#resultdisplay {
    display: flexbox;
    text-align: center;
}

#resetbutton {
    display: flexbox;
    margin: auto;
}
